.slider {
    max-width: 900px;
    margin: 150px auto;
    padding: 0 30px;
    height: 8px;
    background: green;
    box-sizing: border-box;
    border-radius: 2px;
}
.slider-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-range {
    position: absolute;
    height: 100%;
    background: blue;
    border-radius: 2px;
}

.slider-btn {
    position: absolute;
    display: table;
    top: -12px;
    width: 30px;
    height: 30px;
    background: red;
    cursor: pointer;
    border-radius: 50%;

}
.slider-btn-val {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.slider-btn.min {
    left: -30px;

}
.slider-btn.max {
    right: -30px;
}
input{
    width:200px;
}


